.container {
   padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
  border-radius: 8px;
}
.title{
    font-size: 24px;
  font-weight: bold;
  color: #333;
}
.author{
    font-size: 16px;
  font-style: italic;
  color: #555;
  display: inline-block;
}
.description{
    font-size: 14px;
  line-height: 1.5;
  color: #666;
  background-color: red;
}